@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("http://fonts.goggleapis.com/css?family=Oswald");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(bg.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: "Raleway", sans-serif;
  color: #f9f3f4;
  text-shadow: 2px 2px 10px#c0a6da;
  font-size: 500%;
  cursor: default;
}

.btn {
  border-radius: 9px;
  font-family: "Oswald", sans-serif;
  color: #65b3e0;
  font-size: 135%;
  font-weight: 600;
  padding: 10px 20px;
  border: solid 3px #65b3e0;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  color: #f9f3f4;
  border: solid 3px #f9f3f4;
}

article {
  background-color: #e0f0fa;
}

p {
  font-size: 140%;
  line-height: 210%;
  text-align: justify;
  margin: 0 3%;
  font-family: sans-serif;
}

@media screen and (max-width: 760px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    font-weight: normal;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
